<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>${タイトル}</title>
  <meta name="description" content="${ディスクリプション}">
  <meta name="keywords" content="${キーワード}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="${タイトル}">
  <meta property="og:description" content="${ディスクリプション}">
  <meta property="og:url" content="${URL}">
  <meta property="og:image" content="${OGP画像URL}">
  <link rel="canonical" href="${URL}">
  <link rel="next" href="${次のページのURL}">
  <link rel="apple-touch-icon" href="//x.gnst.jp/webclip.png">
</head>

<body>

  <h1>h1タグ</h1>
  <h2>h2タグ</h2>
  <h3>h3タグ</h3>
  <h4>h4タグ</h4>
  <h5>h5タグ</h5>
  <h6>h6タグ</h6>

  <ul>
    <li>li1</li>
    <li>li2</li>
    <li>li3</li>
    <li>li4</li>
    <li>li5</li>
    <li>li6</li>
  </ul>
  <ol>
    <li>li1</li>
    <li>li2</li>
    <li>li3</li>
    <li>li4</li>
    <li>li5</li>
    <li>li6</li>
  </ol>

  <a href="#">aタグバージョン: 第71回 秘書のマーケットを徹底分析！キャリア支援のプロが語る、外資系秘書と日系秘書の違いとは？</a>
  <p>pタグバージョン: 第71回 秘書のマーケットを徹底分析！キャリア支援のプロが語る、外資系秘書と日系秘書の違いとは？</p>
</body>
</html>