<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>${タイトル}</title>
  <meta name="description" content="${ディスクリプション}">
  <meta name="keywords" content="${キーワード}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="${タイトル}">
  <meta property="og:description" content="${ディスクリプション}">
  <meta property="og:url" content="${URL}">
  <meta property="og:image" content="${OGP画像URL}">
  <link rel="canonical" href="${URL}">
  <link rel="next" href="${次のページのURL}">
  <link rel="apple-touch-icon" href="//x.gnst.jp/webclip.png">
  <link rel="stylesheet" href="//c-x.gnst.jp/s/g.css">
  <link rel="stylesheet" href="css/lp.css">
  <%- include('../partials/ga_head') %>
</head>
<body>


</body>
</html>