<section>

  <!-- list -->
  <ul class="list list--border">
    <li class="list__item list__item--dark">
      <a href="" class="list__inner list__inner--dark">
        <h2 class="txt-dark-gray txt-xs ic-b ic-b--chottog"><span class="txt-base txt-bold pd-4r">チョットぐ</span>から探す</h2>
      </a>
    </li>
    <li class="list__item list__item--dark">
      <a href="" class="list__inner list__inner--dark">
        <h2 class="txt-dark-gray txt-xs ic-b ic-b--history"><span class="txt-base txt-bold pd-4r">最近見たお店</span>から探す</h2>
    </a>
    </li>
  </ul>
  <!-- /list -->

</section>


<!-- pageTop -->
<div class="pageTop">
  <a href="#page" class="ic-a ic-a--arrow-top js-pageTop">ページの先頭へ</a>
</div>
<!-- /pageTop -->