@charset "utf-8";

/* all */
.mg-8 {
  margin: 8px;
}

.mg-12 {
  margin: 12px;
}

.mg-16 {
  margin: 16px;
}

.mg-32 {
  margin: 32px;
}


/* top */
.mg-4t {
  margin-top: 6px;
}

.mg-6t {
  margin-top: 6px;
}

.mg-8t {
  margin-top: 8px;
}

.mg-10t {
  margin-top: 10px;
}

.mg-12t {
  margin-top: 12px;
}

.mg-16t {
  margin-top: 16px;
}

.mg-20t {
  margin-top: 20px;
}

.mg-24t {
  margin-top: 24px;
}

.mg-28t {
  margin-top: 28px;
}

.mg-32t {
  margin-top: 32px;
}

.mg-40t {
  margin-top: 40px;
}

.mg-55t {
  margin-top: 55px;
}


/* bottom */
.mg-2b {
  margin-bottom: 2px;
}

.mg-4b {
  margin-bottom: 4px;
}

.mg-6b {
  margin-bottom: 6px;
}

.mg-8b {
  margin-bottom: 8px;
}

.mg-12b {
  margin-bottom: 12px;
}

.mg-15b {
  margin-bottom: 15px;
}

.mg-16b {
  margin-bottom: 16px;
}

.mg-20b {
  margin-bottom: 20px;
}

.mg-28b {
  margin-bottom: 28px;
}

.mg-32b {
  margin-bottom: 32px;
}

.mg-35b {
  margin-bottom: 35px;
}

.mg-40b {
  margin-bottom: 40px;
}


/* right */
.mg-8r {
  margin-right: 8px;
}

.mg-16r {
  margin-right: 16px;
}

.mg-32r {
  margin-right: 32px;
}


/* left */
.mg-8l {
  margin-left: 8px;
}

.mg-16l {
  margin-left: 16px;
}

.mg-32l {
  margin-left: 32px;
}


/* top, bottom */
.mg-20tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mg-40tb {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* left, right */
.mg-16lr {
  margin-left: 16px;
  margin-right: 16px;
}


/* negative margin */
.mg-23b- {
  margin-bottom: -23px;
}
