@charset "utf-8";

/* all */
.pd-0 {
  padding: 0;
}

.pd-8 {
  padding: 8px;
}

.pd-10 {
  padding: 10px;
}

.pd-12 {
  padding: 12px;
}

.pd-16 {
  padding: 16px;
}


/* top */
.pd-3t {
  padding-top: 3px;
}

.pd-8t {
  padding-top: 8px;
}

.pd-12t {
  padding-top: 12px;
}

.pd-16t {
  padding-top: 16px;
}

.pd-28t {
  padding-top: 28px;
}

.pd-40t {
  padding-top: 40px;
}

/* bottom */
.pd-0b {
  padding-bottom: 0;
}

.pd-4b {
  padding-bottom: 4px;
}

.pd-8b {
  padding-bottom: 8px;
}

.pd-12b {
  padding-bottom: 12px;
}

.pd-16b {
  padding-bottom: 16px;
}

.pd-20b {
  padding-bottom: 20px;
}

.pd-24b {
  padding-bottom: 24px;
}

.pd-28b {
  padding-bottom: 28px;
}

.pd-58b {
  padding-bottom: 58px;
}


/* right */
.pd-4r {
  padding-right: 4px;
}

.pd-8r {
  padding-right: 8px;
}

.pd-16r {
  padding-right: 16px;
}

.pd-24r {
  padding-right: 24px;
}

.pd-32r {
  padding-right: 32px;
}

/* left */
.pd-8l {
  padding-left: 8px;
}

.pd-16l {
  padding-left: 16px;
}

.pd-20l {
  padding-left: 20px;
}


/* top, bottom */
.pd-2tb {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pd-13tb {
  padding-top: 13px;
  padding-bottom: 13px;
}

.pd-14tb {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pd-15tb {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pd-16tb {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pd-20tb {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pd-28tb {
  padding-top: 28px;
  padding-bottom: 28px;
}

.pd-30tb {
  padding-top: 30px;
  padding-bottom: 30px;
}


/* left, right */
.pd-0lr {
  padding-left: 0;
  padding-right: 0;
}

.pd-12lr {
  padding-left: 12px;
  padding-right: 12px;
}

.pd-16lr {
  padding-left: 16px;
  padding-right: 16px;
}
