/*
---
name: hr
category:
  - module
  - module/hr
---

```html
<!-- hr -->
<hr class="hr hr--gray">
<!-- /hr -->
```
*/

@charset "utf-8";

.hr {
  border: none;
  margin: 0;
  width: 100%;
  height: 1px;
  &--gray {
    background-color: #ccc;
  }
}