@charset "utf-8";

/* before要素でアイコンを表示 */
.ic-b {
  position: relative;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  /* &--location {
    padding-left: calc(23px + 12px);
    &::before {
      @mixin sprite $location;
    }
  } */
}

/* after要素でアイコンを表示 */
.ic-a {
  position: relative;
  &::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  /* &--arrow-top {
    padding-right: calc(15px + 4px);
    &::after {
      @mixin sprite $arrow-top;
    }
  } */
}

/* 要素自体でアイコンを表示 */
.ic {
  display: block;
  &--arrow-circle {
    @mixin sprite $arrow-circle;
  }
}